/* styles.css */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.7;
  font-size: 18px;
}

h1,
h2 {
  color: #000000;
}

button {
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px 4px 2px;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  border-radius: 5px;
  background-color: rgb(221, 221, 221);
}

button:hover {
  background-color: rgb(249, 234, 255);
}

.button-default {
  background-color: rgb(230, 234, 222);
}

.button-copied {
  background-color: rgb(130, 224, 130);
}

a {
  color: #333;
  text-decoration: none;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  padding: 0 6px;
  margin: 2px;
  background: rgb(246, 248, 250);
  display: inline-block;
}

a:hover {
  background: rgb(234, 234, 234);
  text-decoration: underline;
}

.stack {
  display: flex;
}

.stack a {
  white-space: nowrap;
  color: rgb(53, 59, 162);
  background-color: rgb(230, 234, 222);
  align-items: center;
  padding: 7px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.level {
  width: 100%;
  min-height: 20px;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.box {
  flex: 1 1 45%;
  width: 62%;
  max-width: 720px;
  min-width: 500px;
  margin: 10px;
  padding: 20px;
  color: black;
  text-align: left;
}
#success h2 {
  color: green;
}

#failure h2 {
  color: red;
}

#tips h2 {
  color: purple;
}

#qanda h2 {
  color: blue;
}

#qanda p {
  margin: 10px 0;
}

#qanda .question {
  font-weight: bold;
  color: darkblue;
}
#qanda .answer {
  margin-left: 20px;
  color: rgb(44, 44, 44);
}

#linking {
  background-color: rgb(243, 243, 243);
}

#description {
  background-color: rgb(237, 237, 255);
}

#success {
  background-color: rgba(0, 255, 0, 0.2);
}

#qanda {
  background-color: azure;
}

#failure {
  background-color: rgba(255, 0, 0, 0.2); /* Red background with transparency */
}

#tips {
  background-color: rgb(
    255,
    240,
    255
  ); /* Purple background with transparency */
}

.empty {
  border: 2px solid red;
}

input {
  border: 2px solid;
}

label {
  height: 25px;
}
input {
  height: 25px;
  border-radius: 5px;
  border: #333 2px solid;
}

#inputcontainer {
  display: flex;
  justify-content: center;
}

.flexbox {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}
